.input_search {
    background: #ffffff;
    box-shadow: 0px 0px 60px rgba(45, 45, 45, 0.1);
    border-radius: 20px;
    padding: 30px;
    border: none;
}

.btn_search {
    background: #0300ad;
    border-radius: 0px 20px 20px 0px !important;
    padding: 30px;
    border: 0;
}

.btn_w {
    padding: 30px;
    background: #ffffff;
    box-shadow: 0px 0px 60px rgba(45, 45, 45, 0.1);
    border-radius: 20px;
    border: 0;
}
.btn_plus {
    padding: 30px;
    background: #0300ad;
    box-shadow: 0px 0px 60px rgba(45, 45, 45, 0.1);
    border-radius: 10px;
    border: 0;
}

.btn_w:hover {
    background: #ffffff;
}

.title,
.title:hover {
    text-decoration: none;
    font: 1000 60px Nunito;
    color: #333333;
}

.content {
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
}

.date,
.date:hover {
    color: #777777;
    font: 500 18px 'Nunito';
    text-decoration: none;
    line-height: 25px;
}

.pagination {
    justify-content: center;
    margin-bottom: -18px !important;
    box-shadow: 0px 0px 60px rgb(45 45 45 / 10%);
    border-radius: 20px;
    width: 50%;
    margin: 0 auto;
    border: 0;
    position: relative;
    z-index: 2;
    background: #fff;
    padding: 12px;
    margin-top: 10%;
}