.form {
    margin-top: 150px;
    margin-left: 15px;
}

.text1 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 140%;

    /* identical to box height, or 56px */
    letter-spacing: 0.02em;

    color: #333333;
}

.text2 {
    /* Text/Description */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;

    /* identical to box height, or 29px */
    letter-spacing: 0.03em;

    /* Section */
    color: #777777;

    opacity: 0.9;
    margin-top: 15px;
}

.background {
    position: absolute;
    background-color: #415fe7;
}

.btn_login {
    width: 120px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 69px;
    gap: 10px;

    background: #0300AD;

    /* shadow/landing page */
    box-shadow: 5px 4px 50px rgba(3, 0, 173, 0.2);
    border-radius: 15px;
    margin-left: -11px;
}

.input {
    margin: auto;   
    margin-top: 16px;
    box-sizing: border-box;

    width: 400px;
    height: 64px;

    /* Section */
    border: 1px solid #777777;
    border-radius: 15px;
}

.forgot {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 160%;

    /* identical to box height, or 29px */
    letter-spacing: 0.03em;

    /* Section */
    color: #777777;
    margin-left: 15px;
}