.card {
    width: 366px;
    color: #000;
    background: #ffffff;
    box-shadow: 0px 0px 60px rgba(45, 45, 45, 0.1);
    border-radius: 20px;
    display: block;
    border: 0;
    padding-bottom: 9%;
}

.body_ut {
    background: #9bc0c91a;
    padding-bottom: 120px;
}

.but_detail {
    background: #0300ad;
    border-radius: 10px;
}

.but_cart {
    border: 1px solid #0020b2;
    background: #ffffff;
    border-radius: 10px;
    margin-left: 20px;
    padding: 14px;
}

.but_cart:hover {
    background: #ffffff;
}

.card_name {
    font-family: 'Nunito';
    font-style: normal;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.03em;
    color: #333333;
    text-decoration: none;
}

.card_price {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 140%;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #0300ad;
}

.card_rate {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #0300ad;
    margin: 4px;
}

.detail {
    display: flex;
    justify-content: space-between;
}

.pagination {
    justify-content: center;
    margin-bottom: -18px !important;
    box-shadow: 0px 0px 60px rgb(45 45 45 / 10%);
    border-radius: 20px;
    width: 30%;
    margin: 0 auto;
    border: 0;
    position: relative;
    z-index: 2;
    background: #fff;
    padding: 12px;
}

.foot {
    background: #0020b2;
    height: 286px;
    width: 100%;
    opacity: 0.05;
}
