.foot {
    background:#6d99a51a;
    height: 100%;
    width: 100%;
    margin-top: 100px;
}

.content {
    /* margin: 20px auto 0px; */
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
    font-family: Mulish;
    font-size: 18px;
    color: #848484;

}

.logo {
    font-size: 17px;
    word-wrap: normal;
}

.logo:nth-child(2) {
    width: 260px;
    word-wrap: break-word;
}
/* 
div :nth-child(2) {
    width: 260px;
    word-wrap: break-word;
}

div {
    font-size: 17px;
    word-wrap: normal;
}

ul {
    list-style-type: none;
    font-weight: 700;
    color: black;
    padding-left: 90px;
    width: 260px;
    font-size: 18px;
}

li {
    font-weight: normal;
    padding-top: 1rem;
    color: #848484;
    font-size: 17px;
} */

.ul {
    list-style-type: none;
    font-weight: 700;
    color: black;
    padding-left: 90px;
    width: 400px;
    font-size: 18px;
    display: flex;
}

.li {
    font-weight: normal;
    padding-top: 1rem;
    color: #848484;
    font-size: 17px;
}