.container {
    margin-top: 200px;
    width: 90%;
    height: 100%;
}

.img {
    width: 492px;
    height: auto;
    margin-left: 46px;
    margin-bottom: 24px;

    background: #FFFFFF;

    /* Shadow/card */
    box-shadow: 0px 0px 60px rgba(45, 45, 45, 0.1);
    border-radius: 20px;
}

.imgthumb {
    height: 100px;
    width: 100px;
    box-shadow: 0px 0px 60px rgba(45, 45, 45, 0.1);
    border-radius: 20px;
    margin-right: 15px;
}

.detail {
    position: absolute;
    width: 492px;
    height: auto;
    margin-left: 46px;
    margin-top: 24px;

    background: #FFFFFF;

    /* Shadow/card */
    box-shadow: 0px 0px 60px rgba(45, 45, 45, 0.1);
    border-radius: 20px;
    font-family: 'Nunito';
}

.btn_num {
    box-sizing: border-box;
    position: absolute;

    border: 1px solid #0300AD;
    border-radius: 5px;

    display: flex;
    align-items: center;
}

.stock {
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 140%;

    /* or 36px */
    text-align: end;
    letter-spacing: 0.03em;

    color: #777777;
}

.num_stock {
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 140%;

    /* or 36px */
    text-align: left;
    letter-spacing: 0.03em;

    color: #000000;
}

.btn {
    background: #0300ad;
    border-radius: 10px;
    width: 100%;
    color: #FFFFFF;
}

.cart {
    border: 1px solid #0020b2;
    background: #ffffff;
    border-radius: 10px;
    margin-left: 20px;
    padding: 14px;
}

.btn:hover {
    background-color: #0B5ED7;
}

.title {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 140%;

    /* identical to box height, or 84px */
    letter-spacing: 0.03em;

    color: #333333;
}

.detail1 {
    position: absolute;
    width: 492px;
    height: auto;
    font-family: 'Nunito';
}

.card_price {
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    margin-right: 5px;

    /* identical to box height, or 31px */
    letter-spacing: 0.02em;

    color: #777777;
}

.card_stock {
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    margin-right: 10px;

    /* identical to box height, or 31px */
    letter-spacing: 0.02em;

    color: #0300AD;
}

.card_rate {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #0300ad;
    margin: 4px;
}

.nav {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 140%;

    /* identical to box height, or 31px */
    letter-spacing: 0.02em;
    color: #0300AD;
}

.counter {
    display: flex;
    flex-wrap: no-wrap;
    align-items: center;
}

.p {
    font-weight: 600;
    align-items: center;
    justify-items: center;
    margin-top: 10px;
}

.sub_total {
    margin-top: 72px;
}

.notes {
    margin-top: 28px;
}