body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.page-link {
    border: 0 !important;
    color: #777777 !important;
    border-radius: 50% !important;
    padding: 15px 23px 15px 23px !important;
}

.page-item.active .page-link {
    background: #0300ad !important;
    color: #fff !important;
}

.page-link:hover {
    background-color: #fff !important;
}

.page-link:focus {
    background-color: #fff !important;
}

.page-item:not(:first-child) .page-link {
    margin: 0 !important;
}

@font-face {
    font-family: 'Nunito';
    src: local('Nunito'), url('./fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
}
