.content_wrapper {
    display: flex;
    justify-content: space-between;
}

.card {
    border: 0;
    box-shadow: 0px 0px 60px rgb(45 45 45 / 10%);
    padding: 40px;
    border-radius: 20px;
}

.left {
    display: flex;
}

.img {
    background: #f5f9fa;
    padding: 20px;
}

.details {
    margin-left: 22px;
}

.category {
    background: #0300ad;
    color: #fff;
    border-radius: 10px;
    padding: 8px;
    font: 500 12px 'Nunito';
    text-decoration: none;
}

.name {
    margin-top: 46px;
    font: Bold 20px 'Nunito';
    margin-bottom: 10px;
}

.prc {
    margin-top: 46px;
    margin-bottom: 10px;
    margin-left: 100px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;

    /* or 36px */
    letter-spacing: 0.03em;

    color: #0300AD;
}

.button {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}

.but_details {
    background: #fff;
    border: 1px solid;
    color: #0300ad;
    padding: 10px 45px;
    margin-right: 20px;
}

.but_details:hover {
    background: #0300ad;
    border: 1px solid #0300ad;
    color: #fff;
    padding: 10px 45px;
}

.but_del {
    background: #fff;
    border: 1px solid;
    color: #0300ad;
    padding: 10px 45px;
    margin-right: 20px;
}

.but_del:hover {
    background: #415FE7;
    border: 1px solid #0300ad;
    color: #fff;
    padding: 10px 45px;
}